<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="https://assets.pokemon.com/static2/_ui/img/favicon.ico">
    <title>Informações | Pokedéx</title>
</head>

<nav id="menu">
    <article>
        <img src="/img/bola.png" >
         <h1><a href="https://www.pokemon.com/br/pokedex/" target="_blank">Pokedéx</a></h1>
    </article>
    
    <ul type="disc">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
        </ul>
</nav>

<header id="cabecalho">
    <h1>Pokedéx</h1>
    <!-- <img id="icone" src="#" /> -->
</header>

<header id="registrar">
        <h1>
            <span style="font-weight: 200">Nº <%= pokemon.numero %> </span>
        </h1>
    </header>

    <section id="detalhes">
            <a class="details" href="#">
                 <img src="<%= pokemon.imagem %>" alt="">

                    <div id="infos">
                    <p><%= pokemon.nome %></p>
                <div id="info-datail">

                <div class='col'>
                    <h4>Altura:</h4>
                    <h3><%= pokemon.altura %></h3>
                    <h4>Peso:</h4>
                    <h3><%= pokemon.peso %> </h3>
                </div>

                <div class='col'>
                    <h4>Categoria:</h4>
                    <h3><%= pokemon.categoria %></h3>
                    <h4>Habilidade:</h4>
                    <h3><%= pokemon.habilidade %></h3>   
                </div>
                <div>
                    <h3>Tipo:</h3>
                    <h2><%= pokemon.tipo %></h2>
                 </div>
    </section>

    <footer>
        <p>
            <a href="https://github.com/DanSiljer" target="_blank"> github/DanSiljer</a>
       </p>
   </footer>

   <script src="/js/script.js"></script>


</body>

</html>