<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport"
    content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/nav.css">
  <link rel="stylesheet" href="./css/detalhes.css">
  <title>Game Catalog</title>
</head>

<body>

  <article>
    <a class="logo " data-scroll>Game Catalog</a>

    <nav class="nav-collapse">
      <ul>
        <li class="menu-item active"><a href="/" data-scroll>Home</a></li>
        <li class="menu-item"><a href="/sobre" data-scroll>Quem somos</a></li>
        <li class="menu-item"><a href="/cadastro" data-scroll>Cadrastro</a></li>
        <li class="menu-item"><a href="/login" data-scroll>Login</a></li>
      
      </ul>
    </nav>
  </article>
  </article>


    <td>
    <form action="${s:mvcUrl('PC#excluir').build() }" method="post">
      <button type="submit">excluir</button>
      </form>            
      </td>

   <header id="registrar">
        <h1>
            <span style="font-weight: 200"><%=jogo.id %></span>
        </h1>
    </header>

    <section id="detalhes">
      <span class='close'>&#215;</span>
      
      
            <a class="details" href="#">
                    <div id="infos">
                    <p><%=jogo.nome %></p>
                <div id="info-datail">

                <div class='col'>
                    <h4>Descrição:</h4>
                    <h3><%=jogo.descricao%></h3>
                    <h4>Criador:</h4>
                    <h3><%=jogo.criador%> </h3>
                </div>

                <div class='col'>
                    <h4>EStudio:</h4>
                    <h3><%=jogo.estudio%></h3>
                    <h4>Categoria:</h4>
                    <h3><%=jogo.categoria%></h3>   
                </div>
             
    </section>



    <footer id="rodape">
        <p>Projeto final - Blue_C007_M02</br>
          <a href="" target="_blank" target="_blank">Danusa Jesus</a> |
          <a href="" target="_blank" target="_blank"> Pedro Henhique </a>
        </p>
      
      </footer>
      <script src="/js/script.js"></script>
      </body>
      
      </html>

